body{
    background: #F7F9F9;
}

/* .gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    -webkit-column-width:33%;
    -moz-column-width:33%;
    column-width:33%;
    padding: 12px;
    
} */
.pics{
    -webkit-transition:all 350ms ease;
    transition:all 1s ease;
    cursor:pointer;
}
.pics:hover{
    filter: opacity(.8);
    transform: scale(1.1);
}

.item{
    min-height: 20rem;
    min-width: 30rem;
    padding: 10px;
}
.item img{
    width: 100%;;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel{
    display: flex;
    background-color: rgb(67, 65, 65);

}
.carousel{
    cursor: grab;
    overflow: hidden;
    background-color: rgb(223, 220, 220);

}
@media(max-width:991px){
    .gallery{
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
   }
    .item{
        min-height: 20rem;
        min-width: 25rem;
        padding: 8px;
    }
}

@media(max-width:480px){
    .gallery{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        -webkit-column-width:100%;
        -moz-column-width:100%;
        column-width:100%;
    }
    .item{
        min-height: 15rem;
        min-width: 20rem;
        padding: 8px;
    }

}

